* {
    margin: 0;
}

.data {
    border: 2px solid black;
    /* color: #6df34b; */
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

#foto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}