/*https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element#:~:text=You%20can%27t%20change%20the,or%20using%20inline.*/
/*https://codepen.io/sosuke/pen/Pjoqqp*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/


/*https://stackoverflow.com/questions/19053181/how-to-remove-focus-around-buttons-on-click*/

/**https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
https://www.w3schools.com/cssref/pr_background-image.asp
https://developer.mozilla.org/es/docs/Web/CSS/background-color
https://stackoverflow.com/questions/37582952/using-a-background-image-for-checkbox*/

/*https://stackoverflow.com/questions/14792574/css-child-set-to-change-color-on-parent-hover-but-changes-also-when-hovered*/


.icon {
  border: 2px solid red;
  border-radius: 30px;
  height: 50px;
  width: 300px;
  text-align: center;
}
.iconImg {
  margin: auto;
  filter: invert(14%) sepia(100%) saturate(7482%) hue-rotate(9deg) brightness(98%) contrast(119%)
}

input[type='checkbox']{
  position: absolute;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  height: 50px;
  width: 300px;
  outline: none;
  border-radius: 30px;
  margin: 0 0.6%;
  left: 0.6%;
}

.img {
  stroke-width: 30%;
  position: relative;
  padding: 2.2% 0;
  height: 70%;
}

.filterImg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
}

.iconActive {
  border: 2px solid red;
  border-radius: 30px;
  height: 50px;
  width: 300px;
  text-align: center;
  background-color: red;
}




